<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    
    <!-- The machine name/IP where the service is to be hosted -->    
    <add key="hostName" value="localhost"/>
    
    <!-- The TCP port where the queue listens -->
    <add key="port" value="8377"/>
    
    <!-- The base address, if any, that you want to use -->
    <add key="baseAddress" value=""/>
    
    <!-- File path that stores the queue catalog -->
    <add key="catalogLocation" value="queues.cat"/>
    
    <!-- Folder where persisted messages are saved -->        
    <add key="persistLocation" value="messages\persisted"/>
    
    <!-- Folder where persisted messages are temporarily saved on dequeue
         before the dequeue is committed by the client -->
    <add key="transitLocation" value="messages\transit"/>
    
    <!-- Scan for uncommitted messages and put them back on the
         queue every these many milliseconds -->
    <add key="transitCleanupInterval" value="600000"/>
    
    <!-- When putting uncommitted messages back on the queue, only do so if the
         messages are at least these many milliseconds old -->
    <add key="transitMaximumAge" value="600000"/>
    
  </appSettings>
</configuration>